
/*reset*/
html,body{
      margin:0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-size: 20px;
    }
input{
   border:0px;
   background: none;
}
a{
  text-decoration: none;
}

.container{
      position: relative;
      background: url('11.png') no-repeat ;
      background-size:100% 100%; 
      height: 100%;
      width: 100%;
      color: #fff;
      font-family: "微软雅黑";
      font-size: 0.75rem;
    }
 .layer{
   position: absolute;
   background: rgba(0,0,0,0.56);
   z-index: 99;
  /* width: 80%;
   height: 80%;*/
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);

 }

@keyframes moveleft{
  0%{transform:translateX(-30px);
  }
  100%{transform:translateX(30px;);}
}

@keyframes moveright{
  0%{transform: translate(30px);
  }
  100%{
    tranform:translate(-30px;);
  }
}

@keyframes turnaround{
  0%{transform: rotate(0deg)
  }
  100%{transform:rotate(360deg);}
}

.company,.title,.erweima{
  animation: moveleft 500ms ease;
}
.name,.info,.address{
  animation: moveright 500ms ease;
}

.photo{
  animation: turnaround 700ms ease;
}

/*.company input,.name input,.title input{
 display: block;
 margin:0 auto;
 color: #fff;
 text-align: center;
 font-size: 0.75rem;
 line-height: 1.2rem;
}

.info input{
 display: inline;
 color: #fff;
}
*/
 .logo p,.erwema,.address p{
  text-align: center;
 }

.info {
  margin-left: 12%;
}

.info p{
  margin:0.2rem;
  display: inline-block;
}
.info li i{
  margin-right: 5px;
}

.photo{
  margin:0 auto;
  background: url(cat.png) no-repeat;
  width: 80px;
  height: 80px;
  background-size: 80px 80px;
  /*border:dotted 1px #fff;*/
  border-radius: 50%;
  overflow: hidden;
}
.info ul{
  list-style: none;
}

.erweima{
  margin: 0 auto;
  background: url(ererima.png) no-repeat;
  background-size:80px 80px; 
  width: 80px;
  height: 80px;
}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer .share,.footer .ido{
 background: rgba(0,0,0,0.56);
 float: left;
 width: 50%;
 /*height: 40px;*/
 border-style: none;
}

.footer .share a,.footer .ido a{
  color: #fff;
  font-family: "微软雅黑";
  font-size: 0.75rem;
  line-height: 1.5rem;
}
.icon-mobile,.icon-mail-envelope-closed,.icon-bubbles4{
  display: inline-block;

  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border:1px solid #fff;
  vertical-align: middle;
  text-align: center;

}
.icon-phone{
  display: inline-block;
  margin-left: 0.5rem;
  width: 0.9rem;
  height: 0.9rem;
  background: green;
  border-radius: 20%;
  vertical-align: middle;
  text-align: center;
}
