@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 20px; }

@media screen and (min-width: 768px) {
  html, body {
    margin: 0 auto;
    width: 768px; } }
input {
  border: 0px;
  background: none; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

@keyframes moveleft {
  0% {
    -webkit-transform: translate(-16%, 0);
    -moz-transform: translate(-16%, 0);
    -ms-transform: translate(-16%, 0);
    -o-transform: translate(-16%, 0);
    transform: translate(-16%, 0); }
  100% {
    -webkit-transform: translate(16%, 0);
    -moz-transform: translate(16%, 0);
    -ms-transform: translate(16%, 0);
    -o-transform: translate(16%, 0);
    transform: translate(16%, 0); } }
@keyframes moveright {
  0% {
    -webkit-transform: translate(16%, 0);
    -moz-transform: translate(16%, 0);
    -ms-transform: translate(16%, 0);
    -o-transform: translate(16%, 0);
    transform: translate(16%, 0); }
  100% {
    -webkit-transform: translate(-16%, 0);
    -moz-transform: translate(-16%, 0);
    -ms-transform: translate(-16%, 0);
    -o-transform: translate(-16%, 0);
    transform: translate(-16%, 0); } }
@keyframes turnaround {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.company, .title, .erweima {
  animation: moveleft 500ms ease;
  -webkit-animation: moveleft 500ms ease; }

.name, .info, .address {
  animation: moveright 500ms ease;
  -webkit-animation: moveright 500ms ease; }

.photo {
  animation: turnaround 700ms ease;
  -webkit-animation: turnaround 700ms ease;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.name, .info li, .footer .share a, .footer .ido a {
  font-size: 0.8rem; }

.company {
  font-size: 0.65rem; }

.title, .address {
  font-size: 0.6rem; }

.container {
  position: relative;
  background: url("11.png") no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: "微软雅黑"; }

.layer {
  position: absolute;
  background: rgba(0, 0, 0, 0.56);
  z-index: 99;
  /* width: 80%;
   height: 80%;*/
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.content {
  width: 100%;
  height: 100%; }

.info ul {
  display: table;
  margin: 0 auto;
  padding-left: 0; }

.info p {
  display: inline-block; }

.info li i {
  margin-right: 0.25rem; }

.logo p, .erwema, .address p {
  text-align: center; }

.photo img {
  border-radius: 50%;
  overflow: hidden; }

.photo, .erweima {
  position: relative; }

.photo input, .erweima input {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0); }

.photo, .erweima, .photo img, .erweima img, .photo input, .erweima input {
  width: 80px;
  height: 80px; }

@media screen and (max-width: 360px) {
  .photo, .erweima, .photo img, .erweima img, .photo input, .erweima input {
    width: 60px;
    height: 60px; }

  font-size: 23px; }
.company, .logo, .info, .erweima, .address, .photo {
  margin: 0.5rem auto; }

.info p, .title p, .name p {
  line-height: 0.6rem; }

.title p, .name p, .address p {
  margin: 0.4rem auto; }

.info p {
  margin: 0.2rem; }

.company p {
  line-height: 1.2rem; }

@media screen and (min-width: 400px) {
  .photo, .erweima, .photo img, .erweima img, .photo input, .erweima input {
    width: 120px;
    height: 120px; }

  .company, .logo, .info, .erweima, .address, .photo {
    margin: 0.75rem auto; }

  .info p, .title p, .name p {
    line-height: 0.9rem; }

  .title p, .name p, .address p {
    margin: 0.6rem auto; }

  .info p {
    margin: 0.3rem; }

  .company p {
    line-height: 1.8rem; }

  font-size: 25px; }
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }

.footer button {
  padding: 0; }

.footer .share, .footer .ido {
  background: rgba(0, 0, 0, 0.56);
  float: left;
  width: 50%;
  border-style: none; }

.footer .share a, .footer .ido a {
  color: #fff;
  font-family: "微软雅黑";
  line-height: 1.5rem; }

.icon-mobile, .icon-mail-envelope-closed, .icon-bubbles4, .icon-phone {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }

.icon-mobile, .icon-mail-envelope-closed, .icon-bubbles4 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #fff; }

.icon-phone {
  margin-left: 0.5rem;
  width: 0.9rem;
  height: 0.9rem;
  background: green;
  border-radius: 20%; }

/*# sourceMappingURL=index.css.map */
